**/node_modules
**/bower_components
lerna-debug.log
**/dist
**/tmp
**/.env.deploy.*
**/package-lock.json
TODO.md
tags
*.log
.DS_Store
*.tap
**/package.json.lerna_backup

portal-build/
yarn-error.log
.node_modules.ember-try/
bower.json.ember-try
package.json.ember-try
eslint.xml
NOTES.md
